@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
  




    <div class="homebanner">
        <img alt="" src="@Model.BannerImage.Url()" />
    </div>


@await Html.PartialAsync("~/Views/Partials/Gateway.cshtml")


       

@Html.GetBlockListHtml(Model,"MainContent")
@* @Html.GetBlockListHtml(Model, "MainContentStartupshome") *@
@Html.GetBlockListHtml(Model,"MainContentOurPark")
@await Html.PartialAsync("~/Views/Partials/Statistics.cshtml")
@Html.GetBlockListHtml(Model,"MainContentServices")
@await Html.PartialAsync("~/Views/Partials/OurLabs.cshtml")
    <div class="w-bg fitlayout py-4">
      <div class="container-fluid">
       @Html.GetBlockListHtml(Model,"MainContentLatestActivities")
       @Html.GetBlockListHtml(Model,"MainContentSuccessStories")
    </div>
</div>
       @await Html.PartialAsync("~/Views/Partials/LatestActivities.cshtml")

@Html.GetBlockListHtml(Model,"MainContentPartners") 
@await Html.PartialAsync("~/Views/Partials/BeUpdated.cshtml")





<script>
    // Function to save the active tab to localStorage
    function setActiveTab(tabId) {
        localStorage.setItem('activeTab', tabId);
    }

    // Function to set the active tab from localStorage
    function setTabFromLocalStorage() {
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            var tab = document.getElementById(activeTab);
            var tabPane = document.querySelector(tab.getAttribute('data-bs-target'));

            // Remove 'active' class from all tabs and tab panes
            document.querySelectorAll('.nav-link').forEach(link => link.classList.remove('active'));
            document.querySelectorAll('.tab-pane').forEach(pane => pane.classList.remove('active', 'show'));

            // Add 'active' class to the saved tab and its corresponding tab pane
            tab.classList.add('active');
            tabPane.classList.add('active', 'show');
        } else {
            // Set the default tab if no tab is saved in localStorage
            var defaultTab = document.getElementById('Central-tab');
            var defaultPane = document.querySelector(defaultTab.getAttribute('data-bs-target'));
            defaultTab.classList.add('active');
            defaultPane.classList.add('active', 'show');
        }
    }

    // Call the function to set the active tab on page load
    document.addEventListener('DOMContentLoaded', setTabFromLocalStorage);
</script>