@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MeasurementsDetailsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
  </header>

<div class="innerbanner fitlayout">

    <h3 class="px-3 aos-item" data-aos="fade-up">@Model.Title</h3>
    <div class="clearfix"></div>
    <span class="px-3 aos-item" data-aos="fade-up">
        @Model.Subtitle
    </span>
    <div class="clearfix"></div>

    <img alt="" src="@Model.BannerImage.Url()" />
</div>

@Html.GetBlockListHtml(Model, "MainContentMeasurementsDetails")

<div class="col-lg-12 mb-4">
    <div class="formholder">
        <div class="col-lg-6">
            @Model.Value("ApplyMeasurmentsForm")
        </div>
    </div>
</div>