   @inherits UmbracoViewPage
    @{
      var homePage = Model.AncestorOrSelf<HomePage>();
    }
   <div class="row">
      @Html.GetBlockListHtml(Model,"MainContentNewspaper")

           <div class="clearfix"></div>

           <div class="col-lg-5 align-self-center mt-5 pt-5">
            <div class="locationdata">
                  <h3>@homePage.OurFeaturedLocationTitle</h3>

                  <ul>
                      <li>@homePage.FirstPointOurFeaturedLocation</li>
                      <li>@homePage.SecondPointOurFeaturedLocation </li>
                      <li>@homePage.ThirdPointOurFeaturedLocation</li>
                  </ul>
            </div>
           </div>


           <div class="col-lg-7 align-self-center mt-5">
                
               <div class="mapframe mt-5">
                  <span>@homePage.MapTitleOurFeaturedLocation</span>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27634.794318868342!2d31.494422759695514!3d30.026835551943353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1681527514991!5m2!1sen!2seg" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
               
           </div>

        </div>


