   @inherits UmbracoViewPage
    @{
      var homePage = Model.AncestorOrSelf<HomePage>();
    }
<div class="w-bg fitlayout py-4">

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 my-4">
                <h2 class="migatitle">@homePage.ParkTitle</h2>
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-tabs labseri" id="myTab2" role="tablist2">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" onclick="setActiveTab('home-tab', 'myTabGroup2')">@homePage.LabsTour</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" onclick="setActiveTab('profile-tab', 'myTabGroup2')">@homePage.ServicesTour</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <iframe class="videoTour" id="tourIframe" src="@homePage.FirstVideo"></iframe>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <iframe class="videoTour" id="tourIframe" src="@homePage.SecondVideo"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>