   @inherits UmbracoViewPage<BlockListItem>
    @{
    var row = (AllstartupsRow)Model.Content;
    var settings = (AllstartupsRowSettings)Model.Settings;
      if(settings?.Hide ?? false){return;}
    if (row.AllstartupsItems == null || !row.AllstartupsItems.Any()) return;
    }
    <div class="w-bg fitlayout pt-4 mb-4 paddingabove">

        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-10 mb-4 aos-item" data-aos="fade-down">
                    <h2 class="migatitle enside mb-4">@row.Title</h2>
                </div>
                    @foreach (var item in row.AllstartupsItems)
                 {
                   var rowItem = (AllstartupsItem)item.Content;
                <div class="col-lg-4 col-md-6 aos-item" data-aos="flip-left">
                    <div class="cardstartup">
                        <img alt="Incubators" src="@rowItem.Image.Url()" />
                        <h3>@rowItem.Title</h3>

                        <span>
                            @rowItem.Description
                        </span>

                        <a class="morestartup" href="@rowItem.RedirectUrl"><b>Explore more</b></a>
                    </div>
                </div>
                }

            </div>
        </div>

    </div>
</div>