   @inherits UmbracoViewPage<BlockListItem>
   @using Microsoft.AspNetCore.Http
   @inject IHttpContextAccessor HttpContextAccessor
    @{
      var row = (FeaturedRow)Model.Content;
      var settings = (FeaturedRowSettings)Model.Settings;
      if(settings?.Hide ?? false){return;}
      if(row.FeaturedItems == null || !row.FeaturedItems.Any()) return;   
    }
<div class="w-bg fitlayout py-4">

    <div class="container-fluid">
          <div class="row">

               <div class="col-lg-12 my-4">
                <h2 class="migatitle">@row.Title</h2>
          </div>
    @foreach (var item in row.FeaturedItems)
          {
           var rowItem = (FeaturedItem)item.Content;
          <div class="col-lg-4 col-md-6">
                <div class="cardfeather">
                    <a href="@rowItem.RedirectUrl"></a>
                    <img alt="Incubators" src="@rowItem.Image.Url()" />
                    <h3>@rowItem.Title</h3>

                    <span>
                         @rowItem.Description
                         
                    </span>
               </div>
          </div>
          }



      </div>
    </div>
