   @inherits UmbracoViewPage<BlockListItem>
   @using Microsoft.AspNetCore.Http
   @inject IHttpContextAccessor HttpContextAccessor
    @{
      var row = (FeaturedRow)Model.Content;
      var settings = (FeaturedRowSettings)Model.Settings;
      if(settings?.Hide ?? false){return;}
      if(row.FeaturedItems == null || !row.FeaturedItems.Any()) return;   


    // Pagination settings
    var pageSize = 6; // Number of items to display per page
    var currentPage = 1;
    var queryStringPage = HttpContextAccessor.HttpContext.Request.Query["page"];
    if (!string.IsNullOrEmpty(queryStringPage) && int.TryParse(queryStringPage, out currentPage))
    {
        currentPage = Math.Max(currentPage, 1);
    }
    var totalItems = row.FeaturedItems.Count();
    var totalPages = (int)Math.Ceiling((double)totalItems / pageSize);

    // Get the items for the current page
    var itemsForPage = row.FeaturedItems.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
    }
          <div class="row">

               <div class="col-lg-12 my-4">
                <h2 class="migatitle">@row.Title</h2>
          </div>
        @foreach (var item in itemsForPage)
          {
           var rowItem = (FeaturedItem)item.Content;
           <!-- var rowSetting=(FeaturedItemSettings)item.Settings
           if(rowSettings.Hide) continue; -->
          <div class="col-lg-4 col-md-6">
                <div class="cardfeather">
                    <img alt="Incubators" src="@rowItem.Image.Url()" />
                    <h3>@rowItem.Title</h3>

                    <span>
                         @rowItem.Description
                    </span>
               </div>
          </div>
          }
    <div class="row">
        <div class="col-12 text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
