   @inherits UmbracoViewPage<BlockListItem>
   @using Microsoft.AspNetCore.Http
   @inject IHttpContextAccessor HttpContextAccessor
    @{
      var row = (ServicesRow)Model.Content;
      var settings = (ServicesRowSettings)Model.Settings;
      if(settings?.Hide ?? false){return;}
      if(row.ServicesItems == null || !row.ServicesItems.Any()) return;   
    }

    <div class="gray-bg fitlayout py-4">

      <div class="container-fluid">
           
           <div class="row">

            <div class="col-lg-12 mt-4">
              <h2 class="migatitle">@row.Title</h2>
            </div>

            @foreach (var item in row.ServicesItems)
          {
           var rowItem = (ServicesItem)item.Content;
                <div class="col-lg-4 col-md-6 mt-4" >
                    <div class="serviceblock" id="Services">
                     <div class="imgsrvices">
                      <a href="@rowItem.RedirectUrl"></a>
                        <img alt="Service Name" class="custumimg" src="@rowItem.Image.Url()" />
                     </div>
                     <div class="servicedata">
                         <h4>@rowItem.Title</h4>
                         <span>@rowItem.Description</span>
                            <a href="@rowItem.RedirectUrl">
                            <i class="feather icon-arrow-right"></i>
                         </a>
                     </div>
                 </div>
            </div>
          }
          </div>
          </div>
          </div>
