   @inherits UmbracoViewPage<BlockListItem>
   @using Microsoft.AspNetCore.Http
   @inject IHttpContextAccessor HttpContextAccessor
    @{
      var row = (ServicesRow)Model.Content;
      var settings = (ServicesRowSettings)Model.Settings;
      if(settings?.Hide ?? false){return;}
      if(row.ServicesItems == null || !row.ServicesItems.Any()) return;   


    // Pagination settings
    var pageSize = 6; // Number of items to display per page
    var currentPage = 1;
    var queryStringPage = HttpContextAccessor.HttpContext.Request.Query["page"];
    if (!string.IsNullOrEmpty(queryStringPage) && int.TryParse(queryStringPage, out currentPage))
    {
        currentPage = Math.Max(currentPage, 1);
    }
    var totalItems = row.ServicesItems.Count();
    var totalPages = (int)Math.Ceiling((double)totalItems / pageSize);

    // Get the items for the current page
    var itemsForPage = row.ServicesItems.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
    }

    <div class="gray-bg fitlayout py-4">

      <div class="container-fluid">
           
           <div class="row">

            <div class="col-lg-12 mt-4">
              <h2 class="migatitle">@row.Title</h2>
            </div>

            @foreach (var item in itemsForPage)
          {
           var rowItem = (ServicesItem)item.Content;
            <div class="col-lg-4 col-md-6 mt-4">
                 <div class="serviceblock">
                     <div class="imgsrvices">
                      <a href="@rowItem.RedirectUrl"></a>
                        <img alt="Service Name" class="custumimg" src="@rowItem.Image.Url()" />
                     </div>
                     <div class="servicedata">
                         <h4>@rowItem.Title</h4>
                         <span>@rowItem.Description</span>
                            <a href="@rowItem.RedirectUrl">
                            <i class="feather icon-arrow-right"></i>
                         </a>
                     </div>
                 </div>
            </div>
          }
            <div class="row">
                <div class="col-12 text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(i == currentPage ? "active" : "")">
                                    <a class="page-link" href="?page=@i">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
          </div>
          </div>
          </div>
