   @inherits UmbracoViewPage<BlockListItem>
    @{
      var row = (SuccessStoriesRow)Model.Content;
      var settings = (SuccessStoriesRowSettings)Model.Settings;
      if(settings?.Hide ?? false){return;}
      if(row.SuccessStoriesItems == null || !row.SuccessStoriesItems.Any()) return;   
    }


      <div class="col-lg-12 mt-4">
        <h2 class="migatitle">@row.Title</h2>
      </div>


    <div class="w-bg pb-4">

            
     

      <div class="col-lg-12 mt-4">
        <div class="carsulholder">
          <div class="owl-carouselstories">
          @foreach(var item in row.SuccessStoriesItems)
          {
             var rowItem = (SuccessStoriesItem)item.Content;
                <div class="item">
                     <div class="testmonialblock">
                          <a href="@rowItem.RedirectUrl"></a>
                         <img alt="" src="@rowItem.Image.Url()" />

                         <strong>
                          @rowItem.Description
                         </strong>

                          <small>@rowItem.Title</small>

                     </div>
                </div>
          }

          </div>

      </div>

</div>


            </div>
        </div>
      </div>


    </div>